## Estos son los textos y comandos que usa la OLT. Si no se especifican correctamente
## el programa se quedara bloqueado o funcionara mal.

## Textos varios.
# El texto que se muestra cuando se pude el usuario
CONSTANT: ASK_USERNAME = User name
# El texto que se muestra al pedir la contrasenya.
CONSTANT: ASK_PASSWORD = User password

# En el login, cuando no se puede conectar de nuevo con el mismo usuario

## Diferentes prompts según el contexto en el que esté la OLT
# El prompt básico que se muestra despues de cada comando ejecutado.
# Si no se encuentra un prompt más específico, se usará este.
PROMPT: basic = \nMA5683T
# El prompt inicial
PROMPT: initial = \nMA5683T>
# El prompt en el modo "admin" habilitado.
PROMPT: admin = \nMA5683T#
# El prompt en el modo admin + config habilitados.
PROMPT: config = \nMA5683T(config)#

## Mensajes varios que muestra la OLT en caso de error en el login
## Añade cuantos sean necesarios.
# Cuando se pone un usuario o contrasenya no autorizados
LOGIN_ERROR: Username or password invalid. = Usuario \"{uname}\" o contraseña no válidos
# Cuando se pasa un usuario vacio (supongo que por caracteres no validos.
LOGIN_ERROR: Username or Domain invalid! = Usuario \"{uname}\" o dominio no válidos.
# Cuando se entra demasiadas veces con el mismo usuario.
LOGIN_ERROR: Reenter times have reached the upper limit. = El usuario {uname} ha alcanzado el máximo de conexiones simultáneas.

## Errores al enviar comandos. Es un texto de error que devuelve la OLT antes del prompt
## Añade cuántos sean necesarios.
COMMAND_ERROR: Unknown command = Comando desconocido o no se esta en el contexto correcto
COMMAND_ERROR: Failure = Fallo al ejecutar el comando
COMMAND_ERROR: Parameter error = Parametro del comando erroneo mal escrito o con caracteres no validos
COMMAND_ERROR: Incomplete command = El comando esta incompleto. Faltan parametros o son erroneos
COMMAND_ERROR: Too many parameters = Demasiados argumentos en el comando

## Comandos a enviar a la OLT
# Para que no pagine el texto.
COMMAND: scroll = scroll {lines}
# Para poder configurar la maquina
COMMAND: EnableAdmin = enable
# Para entrar/salir en el modo de configuracion
COMMAND: EnterConfig = config
COMMAND: ExitConfig = quit
# Para obtener la informacion global de las ONT
COMMAND: BoardInfo = display board {frame}/{slot}
# Para obtener la informacion de las ONT nuevas
COMMAND: GetUnmanaged = display ont autofind all

# Para obtener la informacion de IPs, VLANs y MAC de la wan de la OLT
COMMAND: ONTWANInfo = display ont wan-info {frame}/{slot} {port} {ontid}
# Para obtener las MAC-VLAN que la OLT descubre de las ONT.
COMMAND: ONTMACInfo = display mac-address port {frame}/{slot}/{port} ont {ontid}
# Para obtener la tabla de los srv-profiles
COMMAND: GPONServiceProfiles = display ont-srvprofile gpon all
# Para obtener la informacion de un service profile concreto.
COMMAND: GPONServiceProfile = display ont-srvprofile gpon profile-id {srv_profile_id}
# Para obtener informacion sobre la version de hardware, software, etc.
COMMAND: ONTVersion = display ont version {frame} {slot} {port} {ontid}

# Para manipular los traffic table
COMMAND: TrafficTableIPInfo = display traffic table ip index {index}
COMMAND: AddTrafficTableIP = traffic table ip name "{name}" cir {cir} pir {pir} priority {priority} priority-policy local-Setting
COMMAND: ModTrafficTableIP = traffic table ip modify index {index} rename "{name}" cir {cir} pir {pir} priority {priority} priority-policy local-Setting\n
COMMAND: DelTrafficTableIP = undo traffic table ip index {index}

# Para manipular los dba-profiles
COMMAND: GetDBAProfiles = display dba-profile all
COMMAND: GetDBAProfile = display dba-profile profile-id {id}
COMMAND: AddDBAProfile = dba-profile add profile-name "{name}" {type} {speeds}
COMMAND: DelDBAProfile = dba-profile delete profile-id {id}

# Para activar/desactivar la gestion del ACS tr069 en las ONT:
COMMAND: SetTR69Server = ont tr069-server-config {port} {ontid} profile-id {tr069id}
COMMAND: UnsetTR69Server = undo ont tr069-server-config {port} {ontid}

# Para activar/desactivar la interficie de gestion en las ONT
COMMAND: SetONTIPConfig = ont ipconfig {port} {ontid} dhcp vlan {vlan} priority {priority}
COMMAND: UnsetONTIPConfig = undo ont ipconfig {port} {ontid}\n

# Para administrar/dejar de administrar una ONT en la OLT
COMMAND: ManageONT = ont add {port} sn-auth "{SN}" omci ont-lineprofile-id {lineprofile} ont-srvprofile-id {srvprofile} desc "{desc}"
COMMAND: UnmanageONT = ont delete {port} {ontid}

# Para entrar/salir en el contexto de configuracion de los GPON
COMMAND: EnterGPONContext = interface gpon {frame}/{slot}
COMMAND: QuitGPONContext = quit

# Para crear/borrar/mostrar los service-port
COMMAND: ONTServicePorts = display service-port port {frame}/{slot}/{port} ont {ontid}\n
COMMAND: AddServicePortLimited = service-port vlan {olt_vlan} gpon {frame}/{slot}/{port} ont {ontid} gemport {gem} multi-service user-vlan {ont_vlan} tag-transform translate inbound traffic-table index {up_traffic_index} outbound traffic-table index {dw_traffic_index}
COMMAND: AddServicePortUnlimited = service-port vlan {olt_vlan} gpon {frame}/{slot}/{port} ont {ontid} gemport {gem} multi-service user-vlan {ont_vlan} tag-transform translate\n
COMMAND: DelServicePort = undo service-port {index}

# Para resetear a valores de fábrica la ONT por OMCI
COMMAND: ResetONT = ont factory-setting-restore {port} {ontid}\ny
# Para reiniciar la ONT
COMMAND: RebootONT = ont reset graceful {port} {ontid} {gracetime}\ny

# Para crear/borrar/mostrar los lineprofile de gpon/epon
# TODO: Completarlo.
COMMAND: GetLineProfiles = display ont-lineprofile {gepon} all
COMMAND: GetLineProfile = display ont-lineprofile {gepon} profile-id {profile} profile-name "{name}"
COMMAND: AddLineProfile = ont-lineprofile {gepon} profile-name "{name}"
COMMAND: DelLineProfile = undo ont-lineprofile {gepon} profile-id {profile}
COMMAND: ModLineProfile = ont-lineprofile {gepon} profile-id "{index}"
COMMAND: LineProfileTR069 = tr069-management {enable_disable}
COMMAND: LineProfileTCONTDBA = tcont {tcont_index} dba-profile-id {dba_profile_id}
COMMAND: LineProfileAddGEM = gem add {gemport} eth tcont {tcont_index}
COMMAND: LineProfileGEMMap = gem mapping 0 0 vlan {vlan}
